body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: 'Sofadi One', cursive;
    /*background-image: url(/img/rigoberto.png);
    background-size: cover;
     background-repeat: no-repeat;*/
}

.flex-container{
    display: flex;
    justify-content: center;/*horizontal*/
    align-items: center; /*Vertical*/
    background-color: white;
    height: 100vh;
    width: 100%;
    color:white;
}

.flex-container>.pantalla{
    background-color: blue;
    height: 100vh;
    width: 100%;
}

/**************************************************************************************************
/*  Titulo
****************************************************************************************************/
.flex-titulo{
    display: flex;
    justify-content: space-between;/*Ancho horizontal*/
    border: 1px solid yellow;
    width: 100%;
    height: 10%;
}

/**************************************************************************************************
/*  Contenido
****************************************************************************************************/

.flex-contenido{
    display: flex;
    justify-content: space-between;/*Ancho horizontal*/
    border: 1px solid red;
    width: 100%;
    height: 80%;
}


/**************************************************************************************************
/*  pie de pagina
****************************************************************************************************/

.flex-piepag{
    display: flex;
    justify-content: space-between;/*Ancho horizontal*/
    border: 1px solid green;
    width: 100%;
    height: 10%;
}